<div class="container-fluid rounded" >
 	<div class = "glyphicon glyphicon-cog">ADD PROJECT</div>
      <div>
        <form>
          <div class="form-group">
            <label for="project-name" class="form-control-label">Project Name:</label>
            <input type="text" class="form-control" id="project-name" [(ngModel)]="projectName" name="first">
          </div>
          <div class="form-group">
            <label for="site-address" class="form-control-label">Site Address:</label>
            <input type="text" class="form-control" id="site-address" [(ngModel)]="siteAddress" name="first">
          </div>
          <div class="form-group">
            <label for="description" class="form-control-label">Description:</label>
            <input type="text" class="form-control" id="description" [(ngModel)]="description" name="first">
          </div>
          <div class="form-group">
            <label for="start-date" class="form-control-label">Start Date:</label>
            <input type="date" class="form-control" id="start-date" [(ngModel)]="startDate"  name="first">
          </div>
          
          <div class="form-group" >
            <label for="client-option" class="form-control-label">Clients:</label>
            <select id="client-option" class="form-control"   [(ngModel)]="clientId" name="clients">
              <option *ngFor="let client of availableClients" [value]="client.id">
                {{ client.name }}
              </option>
            </select>
          </div>
          <div class="form-group" >
            <label for="phase-option" class="form-control-label">Phases:</label>
            <select id="phase-option" class="form-control"   [(ngModel)]="phase" name="phases">
              <option *ngFor="let phase of availablePhases" [value]="phase.id">
                {{ phase.name }}
              </option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="goBack()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="addNewProject()" >Add</button>
      </div>
    </div>

