
<div class="container-fluid rounded" style="background-color:white;">
    <form >
        <div class="form-group">
            <label for="meeting-tittle" class="form-control-label">Tittle</label>
            <input type="text" class="form-control" id="meeting-tittle" [(ngModel)]="tittle" name="tittle">
          </div>
          <div class="form-group">
              <label for="meeting-objective" class="form-control-label">Objective</label>
              <input type="text" class="form-control" id="meeting-objective" [(ngModel)]="objective" name="objective">
          </div>
          <hr>
      <label style="text-decoration: underline;">Summary</label>
      <div class="row">
        <div class="col-25 form-group">
          <label for="meeting-type" class="form-control-label">Meeting Type:</label>
        </div>
        <div class="col-75">
          <input type="text" class="form-control" id="meeting-type" name="type" [(ngModel)]="type">
        </div>
      </div>
      <div class="row">
          <div class="col-25 form-group">
            <label for="meeting-venue"  class="form-control-label">Venue:</label>
          </div>
          <div class="col-75">
            <input type="text" class="form-control" id="meeting-venue" name="venue" [(ngModel)]="venue">
          </div>
        </div>
        <div class="row">
            <div class="col-25 form-group">
              <label for="meeting-date" class="form-control-label">Date:</label>
            </div>
            <div class="col-75">
              <input type="date" class="form-control" id="meeting-date" name="date" [(ngModel)]="date">
            </div>
          </div>
   
      
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="goBack()">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="addNewMeeting()" >Add</button>
      </div>
    </form>
  </div>






