<div class="container-fluid digi-section " style="background-color:white;">
        <br>
        <div class="column">
            <div class = "glyphicon glyphicon-cog">ADD Meeting</div>
        </div>
        <br>
      </div>
      <hr style="margin-top: 5px;margin-bottom: 0px;">
      
<div class="container-fluid rounded" style="background-color:white;">
    <form >
        <div class="form-group">
            <label for="meeting-tittle" class="form-control-label">Project</label>
            <select    [(ngModel)]="projectId" name="projects" (change)="onProjectChange()">
                <option *ngFor="let project of projects.projects" [value]="project.id">
                    {{ project.projectName }}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="meeting-tittle" class="form-control-label">Title</label>
            <input type="text" class="form-control" id="meeting-tittle" [(ngModel)]="tittle" name="tittle">
          </div>
          <div class="form-group">
              <label for="meeting-objective" class="form-control-label">Objective</label>
              <input type="text" class="form-control" id="meeting-objective" [(ngModel)]="objective" name="objective">
          </div>
          <hr>
      <label style="text-decoration: underline;">Summary</label>
        <table>
        <tr >
            <td>Date Of Meeting:
            </td>
            <td >
                <input type="date" class="form-control" id="meeting-date" name="date" [(ngModel)]="date">
            </td>
        </tr>

        <tr>
        <td>Meeting Type:
        </td>
        <td>
          <input type="text" class="form-control" id="meeting-type" name="type" [(ngModel)]="type">
        </td>
      </tr>
      <tr >
          <td>Venue:
          </td>
          <td >
            <input type="text" class="form-control" id="meeting-venue" name="venue" [(ngModel)]="venue">
          </td>
        </tr>
            <!-- <tr>
                <td>Meeting Commenced:
                </td>
                <td>
                    <input type="text" class="form-control" id="meeting-commenced" name="type" [(ngModel)]="meetingCommenced">
                </td>
            </tr> -->
            <!-- <tr>
                <td>Meeting Adjourned:
                </td>
                <td>
                    <input type="text" class="form-control" id="meeting-adjourned" name="type" [(ngModel)]="meetingAdjourned">
                </td>
            </tr> -->
            <tr>
                <td>Meeting No:
                </td>
                <td>
                    <input type="text" class="form-control" id="meeting-no" name="type" [(ngModel)]="meetingNo">
                </td>
            </tr>

        </table>

        <!-- <table class="table ">
            <thead>
            <tr>
                <th>Sl No</th>
                <th>Name</th>
                <th>Company</th>
                <th>Role</th>
                <th>References</th>
                <th>Present</th>
                <th>Absent</th>
                <th>Appologies</th>
                <th>DistributionList</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employee of employees">
                <td class = "table-cell"></td>
                <td class = "table-cell">{{employee.firstname}}</td>
                <td class = "table-cell">{{employee.companyName}}</td>
                <td class = "table-cell">{{employee.role}}</td>
                <td class = "table-cell">{{employee.companyName}}</td>
                <td>
                    <input type="checkbox" name="present" [(ngModel)]="employee.isPresent" style="text-align:center; vertical-align: middle;" (click)="onPresent(employee)">
                </td>
                <td>
                    <input type="checkbox" name="absent" [(ngModel)]="employee.isAbsent" style="text-align:center; vertical-align: middle;"(click)="onAbsent(employee)">
                </td>
                <td>
                    <input type="checkbox" name="appologized" [(ngModel)]="employee.isAppologized" style="text-align:center; vertical-align: middle;"(click)="onApologized(employee)">
                </td>
                <td>
                    <input type="checkbox" name="partofdl" [(ngModel)]="employee.isPartOfDL" style="text-align:center; vertical-align: middle;">
                </td>

                <td class = "table-cell"></td>
            </tr>
            </tbody>
        </table> -->

        <label style="text-decoration: underline;">Discussed Items</label>
        <table class="table ">
        <thead>
        <tr>
            <th>
                Item
            </th>
            <th>
                Discussion
            </th>
            <th>
                Edit
            </th>
            <th>
                Info/Action By
            </th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let discussion of this.discussions">
            <td class = "table-cell">{{discussion.item}}</td>
            <td class = "table-cell">
                <input type="text" [(ngModel)]="discussion.text" >
            </td>
            <td class = "table-cell" >
                <input type="button" [hidden] =  "discussion.getType()== 0? false : true" value="AddTopic" (click) = "onAddNewDiscussion()">
                <input type="button" value="AddSubTopic" [hidden] =  "discussion.getType()== 0? false : true" (click) = "onAddNewSubDiscussion(discussion)">
            </td>
            <td class = "table-cell">{{discussion.infoActionBy}}</td>
        </tr>
        </tbody>
        </table>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="goBack()">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="addNewMeeting()" >Add</button>
      </div>
    </form>
  </div>






