<div class="section-wrpr"  >
    <div class="section-label bold box-border-bottom" style="BACKGROUND-COLOR:WHITE"> System overview</div>
    
    <div class="big-wrpr" >
      
      <div class="content-wrpr">
          <label class="box-label" for="">TOTAL COMPANIES</label>
        <div class=" box-wrpr text-center">{{totalCompany}}  </div>
      </div>
      <div class="content-wrpr">
           <label class="box-label" for="">TOTAL PROJECT</label>
        <div class=" box-wrpr text-center">{{totalProjects}}</div>
      </div>
      <div class="content-wrpr">
         <label class="box-label" for="">TOTAL USERS</label>
         <div class=" box-wrpr text-center">{{totalUsers}}</div>
      </div>
      <div class="content-wrpr">
         <label class="box-label" for="">OPEN CRs</label>
         <div class=" box-wrpr text-center"></div>
      </div>
      <div class="content-wrpr">
          <label class="box-label" for="">TOTAL DOCS</label>
          <div class=" box-wrpr text-center">{{totalDocuments}}</div>
      </div>
  </div>
    <div class="clearfix"></div>
    
  

  <div class="section-wrpr"  >
          <div class="section-label bold box-border-bottom" style="BACKGROUND-COLOR:WHITE"> System Log</div>
          
          <div class="big-wrpr" style="BACKGROUND-COLOR:WHITE;">
            <div class="content-wrpr">
              <label class="box-label" for="">data</label>
             
            </div>
            
          <div class="clearfix"></div>
        </div>
  </div>
</div>  