<div class="container-fluid">
<div class="pull-right col-xs-3" >
   <div class="input-group stylish-input-group">
                    <input type="text" class="form-control"  placeholder="Search" [(ngModel)]="searchString">
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>  
                    </span>
                </div>
</div>
<!-- <input type="text"  name="search" placeholder="Search.." [(ngModel)]="searchString"> -->
<!-- <button type="button" class="btn btn-primary" (click)="OnSearch()" >Go</button> -->
</div>
