<div class="container-fluid digi-client rounded" >
<div class="column">
<div class = "glyphicon glyphicon-cog">MANAGE CLIENTS</div>
	<a href="#/new-client" class="btn btn-primary round pull-right" role="button">+Add Client</a>
</div>
<table class="table">
  <thead>
  <tr>
    <th>Client Name</th>
    <th>Address</th>
    <th>Client's Company</th>
    <!-- <th>Projects</th> -->
  </tr>
  </thead>
  <tbody>
      <tr *ngFor="let client of clients.clients | paginate: { itemsPerPage: 3, currentPage: currentPage, totalItems: clients.totalItems, id:'server'} ">
        <td class = "table-cell" contenteditable='true' (input)="onRowClick($event)" [textContent]="client.name" (input)="client.name=$event.target.textContent">{{ client.name }}</td>
        <td class = "table-cell"  contenteditable='true' (input)="onRowClick($event)" [textContent]="client.address" (input)="client.address=$event.target.textContent">{{ client.address }}</td>
        <td class = "table-cell">{{ client.companyName }}</td>
        <!-- <td class = "table-cell"  contenteditable='true' (input)="onRowClick($event)" [textContent]="client.projectNames" (input)="client.projectNames=$event.target.textContent">{{ client.projectNames }}</td> -->
         <td class = "table-cell">
          <button [disabled]="!isValid" class="btn-primary" (click) = "updateClient(client)">
            <img src="assets/edit.svg" style="width:30px"></button> 
            <button class="btn-primary"><a href="#/"><img src="assets/view.svg" style="width:30px"></a></button>     
           <button  style="background-color:red;"><img src="assets/delete.svg" (click) = "deleteClient(client)" style="width:30px"></button>
    </td>
     </tr>
  </tbody>
 </table>
  <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
</div>
