<div class="container-fluid digi-quality rounded" >
    <div class="column">
        <div class = "glyphicon glyphicon-cog">QUALITY CONTROL SHEETS</div><br>
        <!-- <label for="project-option" class="form-control-label" >Project:</label>
        <select width = "50%" id="project-option" class="form-control"   [(ngModel)]="projectId" name="pojects">
          <option *ngFor="let project of availableProjects" [value]="project.id">
                   {{ project.ProjectName }} 
          </option> 
        </select>
         -->
        <a href="#/new-quality" class="btn btn-primary round pull-right" role="button">+Add Request</a>
    </div>
    <nav class="navbar">
      <input class="form-control" type="text" name="search" [(ngModel)]="filter" placeholder="Search" >
    </nav>
    <table class="table ">
      <thead>
      <tr>
        <th>Assignee</th>
        <th>Status</th>
        <th>Target Enddate</th>
        <th>Short Description</th> 
        <th>Project Name</th>   
        <!-- <th>Date Rectified</th> -->
        <!-- <th>Raised By</th> -->
      </tr>
      </thead>
       <tbody>
          <tr *ngFor="let quality of qualities.qualities| filter:filter | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems: qualities.totalItems, id:'server'} ">
            <td class = "table-cell" contenteditable='true' (input)="onRowClick($event)" [textContent]="quality.assignee" (input)="quality.assignee=$event.target.textContent">{{quality.assignee}}</td>
            <td class = "table-cell" contenteditable='true' (input)="onRowClick($event)" [textContent]="quality.Status" (input)="quality.status=$event.target.textContent">{{quality.Status}}</td>
            <td class = "table-cell" contenteditable='true' (input)="onRowClick($event)" [textContent]="quality.targetEnddate" (input)="quality.targetEnddate=$event.target.textContent">{{quality.targetEnddate}}</td>
            <td class = "table-cell" contenteditable='true' (input)="onRowClick($event)" [textContent]="quality.description" (input)="quality.description=$event.target.textContent">{{quality.Description}}</td>
            <td class = "table-cell" >{{project.projectName}} </td>
            <!-- <td class = "table-cell" contenteditable='true' (input)="onRowClick($event)" [textContent]="quality.Rectified" (input)="quality.Rectified=$event.target.textContent">{{quality.Rectified}}</td>
            <td class = "table-cell" contenteditable='true' (input)="onRowClick($event)" [textContent]="quality.Action" (input)="quality.Action=$event.target.textContent">{{quality.Action}}</td> -->
             <td class = "table-cell">
                <tooltip-content #screeningOption1 class="recommended-programs-tooltip">
                    <div><span><p class="fa fa-info-circle fa-tooltip" ></p></span>
                      <div class="tooltip-text-regisnation">Edit</div>
                    </div>
                  </tooltip-content>
            <button [disabled]="!isValid" class="btn-primary" (click) = "updateQuality(quality)">
                    <img src="assets/edit.svg" style="width:30px"  tooltipPlacement="right" [tooltip]="screeningOption1"></button>
                    <tooltip-content #screeningOptions class="recommended-programs-tooltip">
                        <div><span><p class="fa fa-info-circle fa-tooltip" ></p></span>
                          <div class="tooltip-text-regisnation">Delete</div>
                        </div>
                    </tooltip-content>
            <button style="background-color:red;"><img src="assets/delete.svg" (click) = "deleteQuality(quality)" style="width:30px" tooltipPlacement="right" [tooltip]="screeningOptions"></button>
            </td>
         </tr>
      </tbody> 
     </table>
      <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
    </div>
    