abc.com/.idea/**/*.*
abc.com/build/**/*.*
abc.com/build/**/*.*
abc.com/bin/**/*.*
abc.com/build/
abc.com/build/**/*
.gradle/**/*.*
.idea/**/*.*
abc.com/.gradle/**/*.*
*.class
/abc.com/src/main/resources/static/*
/.project
/.settings/org.eclipse.buildship.core.prefs
/abc.com/.classpath
/abc.com/.project
/abc.com/.settings/org.eclipse.jdt.core.prefs
/abc.com/.settings/org.eclipse.wst.common.project.facet.core.xml
/abc.com/build/**/*
/npm-debug.log
