<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
<!-- 		<link href="../static/css/login.css" rel="stylesheet" /> -->
    </head>
    <body>
   
   	<div th:if="${param.error}">
            Invalid Email id.
    </div>
	 <form th:action="@{/forgot}" method="post">
            <div><label> Email Id : <input style="border-radius: 25px;border-color:#1E90FF;font-size:1em;width:21em;line-height:2em;" 
	        name="email" placeholder="  Email" /> </label>
	        <i class="fa fa-key"></i>
	        </div>
            <div><input type="submit" style="font-size:1em;width:21em;line-height:2em;border-radius: 25px;background-color:blue" value="Reset"/></div>
        </form>
    </body>
</html>