<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
<!-- 		<link href="../static/css/login.css" rel="stylesheet" /> -->
    </head>
    <body>
    <div class="left-half" style="background-color: #1E90FF;position: absolute; left: 0px; width: 50%;height: 100%">
	    <article>
	       
	    </article>
	</div>

	<div class="right-half" style="background-color: white; position: absolute;right: 0px;width: 50%;height: 100%">
    	<article>
    	<a style="
                font-size: xx-large;"></a>
               
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div><label> User Name : <input style="border-radius: 25px;border-color:#1E90FF;font-size:1em;width:21em;line-height:2em;" 
	        name="username" placeholder="  Email" /> </label>
	        <i class="fa fa-key"></i>
	        </div>
            <div><label> Password: <input name="password" style="border-radius: 25px;border-color:#1E90FF;font-size:1em;width:21em;line-height:2em;"
             type="password" placeholder="  Password"/> </label>
             <i class="fa fa-lock"></i><a style="color:#1E90FF; text-align:left" href="/forgot"> Forgot Your Password? </a>
             </div>
            <div><input type="submit" style="font-size:1em;width:21em;line-height:2em;border-radius: 25px;background-color:blue" value="Sign In"/></div>
        </form>
         </article>
</div>
    </body>
</html>