<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
<!-- 		<link href="../static/css/login.css" rel="stylesheet" /> -->
    </head>
    <body>
   
	 <form th:action="@{/reset}" method="post">
            <div><input name="token" th:value = "${resetToken}"   style="display:none"/> </div>
	         <div><label> Password: <input name="password" pattern="^\S{6,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 6 characters' : ''); if(this.checkValidity()) form.password_two.pattern = this.value;" 
	         style="border-radius: 25px;border-color:#1E90FF;font-size:1em;width:21em;line-height:2em;"
             type="password" placeholder="Password" /> </label>
             </div>
             <div><label>Re-enter Password: <input name="password" pattern="^\S{6,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');"
             style="border-radius: 25px;border-color:#1E90FF;font-size:1em;width:21em;line-height:2em;"
             type="password" placeholder="Password" /> </label>
<!--         <i class="fa fa-lock"></i><a style="color:#1E90FF; text-align:left"> Forgot Your Password? </a> -->
             </div>
	       
            <div><input type="submit" style="font-size:1em;width:21em;line-height:2em;border-radius: 25px;background-color:blue" value="Reset"/></div>
        </form>
    </body>
</html>
