<div class="container-fluid digi-role rounded" >
  <div>
   <div class = "glyphicon glyphicon-cog">MANAGE ROLES AND PERMISSIONS</div>
	<a href="#/new-role" class="btn btn-primary round pull-right" role="button">+Add Role</a>  
  </div>

  <table class="table table-bordered" id="team-list">
    <thead>
    <tr >
      <th>Role</th>
      <th>Last Updated </th>
      <th>Actions </th>
    </tr>
    </thead>
    <tbody>
     <tr *ngFor="let role of roles.roles">
        <td class = "table-cell">{{ role.name }}</td>
        <td class = "table-cell">{{ role.lastUpdated }}</td>
         <td class = "table-cell">
			<img src="assets/edit.svg" style="width:30px">
			<img src="assets/delete.svg" (click) = "deleteRole(role)" style="width:30px">
        </td>
     </tr>
    </tbody>
  </table>
<!-- 	<pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls> -->
</div>
