<div class="container-fluid digi-role rounded" >
  <div>
   <div class = "glyphicon glyphicon-cog">MANAGE ROLES AND PERMISSIONS</div>
	<a href="#/new-role" class="btn btn-primary round pull-right" role="button">+Add Role</a>  
  </div>
  <nav class="navbar">
    <input class="form-control" type="text" name="search" [(ngModel)]="filter" placeholder="Search" >
  </nav>
  <table class="table table-bordered" id="team-list">
    <thead>
    <tr >
      <th>Role</th>
      <th>Last Updated </th>
      <th>Actions </th>
    </tr>
    </thead>
    <tbody>
     <tr *ngFor="let role of roles.roles| filter:filter">
        <td class = "table-cell">{{ role.name }}</td>
        <td class = "table-cell">{{ role.lastUpdated }}</td>
         <td class = "table-cell">
            <tooltip-content #screeningOptions class="recommended-programs-tooltip">
                <div><span><p class="fa fa-info-circle fa-tooltip" ></p></span>
                  <div class="tooltip-text-regisnation">Edit</div>
                </div>
            </tooltip-content>
      <img src="assets/edit.svg" style="width:30px" tooltipPlacement="right" [tooltip]="screeningOptions">
      <tooltip-content #screeningOption1 class="recommended-programs-tooltip">
          <div><span><p class="fa fa-info-circle fa-tooltip" ></p></span>
            <div class="tooltip-text-regisnation">Delete</div>
          </div>
      </tooltip-content>
			<img src="assets/delete.svg" (click) = "deleteRole(role)" style="width:30px" tooltipPlacement="right" [tooltip]="screeningOption1">
        </td>
     </tr>
    </tbody>
  </table>
<!-- 	<pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls> -->
</div>
