<div class="container-fluid digi-specification rounded" >
    <div class="column">
    <div class = "glyphicon glyphicon-cog">MANAGE SPECIFICATION</div>
        <a href="#/new-specification" class="btn btn-primary round pull-right" role="button">+Add Specification</a>
    </div>
    <nav class="navbar">
      <input class="form-control" type="text" name="search" [(ngModel)]="filter" placeholder="Search" >
    </nav>
    <table class="table">
      <thead>
      <tr>
        <th>Specification</th>
        <th>Section</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let specification of specifications.specifications| filter:filter ">
            <td class = "table-cell" contenteditable='true' (input)="onRowClick($event)" [textContent]="specification.specificationName" (input)="specification.specificationName=$event.target.textContent">{{specification.specificationName}}</td>
            <td class = "table-cell">{{specification.sectionId}}</td>
            <td class = "table-cell"></td>
             <td class = "table-cell">
                  <tooltip-content #screeningOptions class="recommended-programs-tooltip">
                    <div><span><p class="fa fa-info-circle fa-tooltip" ></p></span>
                      <div class="tooltip-text-regisnation">Edit</div>
                    </div>
                  </tooltip-content> 
                <button [disabled]="!isValid" class="btn-primary" (click) = "updateSpecification(specification)">
                    <img src="assets/edit.svg" style="width:30px" tooltipPlacement="right" [tooltip]="screeningOptions">
                </button>
                <tooltip-content #screeningOption2 class="recommended-programs-tooltip">
                    <div><span><p class="fa fa-info-circle fa-tooltip" ></p></span>
                      <div class="tooltip-text-regisnation">View</div>
                    </div>
                </tooltip-content> 
                  <button class="btn-primary"><img src="assets/view.svg" style="width:30px" tooltipPlacement="right" [tooltip]="screeningOption2"></button>
                <tooltip-content #screeningOption1 class="recommended-programs-tooltip">
                        <div><span><p class="fa fa-info-circle fa-tooltip" ></p></span>
                          <div class="tooltip-text-regisnation">Delete</div>
                        </div>
                </tooltip-content> 
                <button style="background-color:red;">
                  <img src="assets/delete.svg" (click) = "deleteSpecification(specification)" style="width:30px" tooltipPlacement="right" [tooltip]="screeningOption1">
                </button>
            </td>
         </tr>
      </tbody>
     </table>
     <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
</div>
    