

*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  
}
img {
  border-radius: 0%;
  
}

.grid {
  display: flex;
  flex-flow: row; 
  flex-wrap: wrap;
  background:darkblue;

}
.grid-logo-cell {
//flex: 1;
  width:292px;
  height:84px;
  // border:1px solid #000;
  background-color: white;
  text-align: center;
  padding-top:8px;
}


.grid-user-cell {
  flex : 1 0 10%;
}
.grid-right {
  justify-content: flex-end;
}



.loggedinUser{
   justify-content: flex-end;
}

  .dropdown-menu 
  {
    left: -34px;
    position: absolute;
    top: 100%;
    float: left;
    min-width: 101px;
    list-style: none;
    text-align: center; // Ensures proper alignment if parent has it changed (e.g., modal footer)
    border: 1px solid ;
    background-clip: padding-box;
  
  }

  .topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
  }
 .btn{
  padding: 5px 24px;
 }