<div class="container-fluid digi-company rounded" >
<div class="column">
	<div class = "glyphicon glyphicon-cog">MANAGE COMPANY</div>
	<a href="#/new-company" class="btn btn-primary round pull-right" role="button">+Add Company</a>
</div>
<table class="table">
  <thead>
  <tr>
    <th>Company Name</th>
    <th>Address</th>
  </tr>
  </thead>
  <tbody>
      <tr *ngFor="let company of companies.companies | paginate: { itemsPerPage: 3, currentPage: currentPage, totalItems: companies.totalItems, id:'server'} ">
        <td class = "table-cell">{{ company.companyName }}</td>
        <td class = "table-cell">{{ company.address }}</td>
         <td class = "table-cell">
           <img src="assets/edit.svg" style="width:30px">
		   <img src="assets/delete.svg" (click) = "deleteCompany(company)" style="width:30px">
        </td>
     </tr>
  </tbody>
 </table>
  <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>

</div>
