
      <div class="container-fluid rounded">
      <div class = "glyphicon glyphicon-cog">ADD ROLE</div>
        <form>
          <div class="form-group">
            <label for="role-name" class="form-control-label">Role Name:</label>
            <input type="text" class="form-control" id="role-name" [(ngModel)]="name" name="first">
          </div>
          
          <div class="form-group" >
            <label for="permission-option" class="form-control-label">Permissions:</label>
            <table class="table table-bordered">

			    <tbody>
			    <tr *ngFor="let permission of roleHelper.getPermissions() ">
			      <td class = "table-cell">{{ permission }}</td>
			      <td >
			      <label class="switch">
					  <input type="checkbox" [checked]="permissions[permission]" (change) = "onChanged(permission)"/>
					  <span class="slider round"></span>
				  </label>
			      </td>
			    </tr>
			    </tbody>
			  </table>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="goBack()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="addNewRole()" >Add</button>
      </div>




