<div class="container-fluid digi-section rounded" >
<div class="column">
<div class = "glyphicon glyphicon-cog">MANAGE SECTIONS</div>
	<a href="#/new-section" class="btn btn-primary round pull-right" role="button">+Add Section</a>
</div>
<table class="table">
  <thead>
  <tr>
    <th>Section Name</th>
    <th>Specification</th>
    <th>Products</th>
  </tr>
  </thead>
  <tbody>
      <tr *ngFor="let section of sections.sections | paginate: { itemsPerPage: 3, currentPage: currentPage, totalItems: sections.totalItems, id:'server'} ">
        <td class = "table-cell">{{ section.sectionName }}</td>
        <td class = "table-cell">{{ section.specificationName }}</td>
        <td class = "table-cell">{{ section.productNames }}</td>
 		<td class = "table-cell">
         <img src="assets/edit.svg" style="width:30px">
		 <img src="assets/delete.svg" (click) = "deleteSection(section)" style="width:30px">
        </td>
     </tr>
  </tbody>
 </table>
  <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
 
</div>
