<div class="container-fluid rounded" >
 	<div class = "glyphicon glyphicon-cog">Edit BOQ</div>
      <div >
<!--         <form> -->
<!--           <div class="form-group" > -->
<!--             <label for="department-option" class="form-control-label">BoQ Departments:</label> -->
<!--             <select id="department-option" class="form-control"   [(ngModel)]="boQDepartmentId" name="boQDepartments"> -->
<!--               <option *ngFor="let department of availableDepartments" [value]="department.id"> -->
                {{ department.name }}
              </option>
<!--             </select> -->
<!--           </div> -->
<!--           <div class="modal-footer"> -->
<!-- 	        <button type="button" class="btn btn-secondary" (click)="goBack()">Cancel</button> -->
<!-- 	        <button type="button" class="btn btn-primary" (click)="addNewBoQ()" >Add</button> -->
<!--       	  </div> -->
<!--         </form> -->
      </div>
</div>


