<div class="container-fluid rounded" style="background-color:white;">
  <div class="glyphicon glyphicon-cog">ADD COMPANY</div>
  <div>
    <form>
      <div class="form-group">
        <label for="company-name" class="form-control-label">Company Name:</label>
        <br>
        <input type="text" class="form-control" id="company-name" [(ngModel)]="companyName" name="first">
      </div>

      <div class="form-group">
        <label for="address" class="form-control-label">Address:</label>
        <br>
        <input type="text" class="form-control" id="address" [(ngModel)]="address" name="first">
      </div>
      <div class="form-group">
        <label for="contact" class="form-control-label">Contact:</label>
        <br>
        <div class="form-group">
          <form>
            <div class="form-row">
              <div class="col-7">
                <input type="text" class="form-control" placeholder="Email" id="contact" [(ngModel)]="contact" name="contact">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Mobile" id="contact" [(ngModel)]="contact" name="contact">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Telephone" id="contact" [(ngModel)]="contact" name="contact">
              </div>
            </div>
          </form>
        </div>
      </div>


    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="goBack()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="addNewCompany()">Add</button>
  </div>
</div>