<div class="container-fluid digi-subcategory rounded" >
<div class="column">
	<div class = "glyphicon glyphicon-cog">MANAGE SUBCATEGORIES</div>
	<a href="#/new-subcategory" class="btn btn-primary round pull-right" role="button">+Add Subcategory</a></div>
<div class="column">
	<nav class="navbar">
    <input class="form-control" type="text" name="search" [(ngModel)]="filter" placeholder="Search" >
  </nav>
</div>
<table class="table ">
  <thead>
  <tr>
  	<th>SubCategory Name</th>
    <th>Description</th>
    <th>Parent Category</th>
  </tr>
  </thead>
  <tbody>
      <tr *ngFor="let subcategory of subcategories.subcategories| filter:filter | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems: subcategories.totalItems, id:'server'} ">
        <td class = "table-cell" contenteditable='true' (input)="onRowClick($event)" [textContent]="subcategory.name" (input)="subcategory.name=$event.target.textContent">{{ subcategory.name }}</td>
        <td class = "table-cell" contenteditable='true' (input)="onRowClick($event)" [textContent]="subcategory.description" (input)="subcategory.description=$event.target.textContent">{{ subcategory.description }}</td>
        <td class = "table-cell" contenteditable='true' (input)="onRowClick($event)" [textContent]="subcategory.parentName" (input)="subcategory.parentName=$event.target.textContent">{{ subcategory.parentName }}</td>
         <td class = "table-cell">
            <tooltip-content #screeningOptions class="recommended-programs-tooltip">
                <div><span><p class="fa fa-info-circle fa-tooltip" ></p></span>
                  <div class="tooltip-text-regisnation">Edit</div>
                </div>
            </tooltip-content>
            <button [disabled]="!isValid" class="btn-primary" (click) = "updatesubcategory(subcategory)">
                <img src="assets/edit.svg" style="width:30px" tooltipPlacement="right" [tooltip]="screeningOptions"></button>
                <tooltip-content #screeningOption1 class="recommended-programs-tooltip">
                    <div><span><p class="fa fa-info-circle fa-tooltip" ></p></span>
                      <div class="tooltip-text-regisnation">Delete</div>
                    </div>
                </tooltip-content>
			      <button style="background-color:red;"><img src="assets/delete.svg" (click) = "deleteSubcategory(subcategory)" style="width:30px" tooltipPlacement="right" [tooltip]="screeningOption1"></button>
        </td>
     </tr>
  </tbody>
 </table>
  <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
</div>
