<div class="container-fluid digi-subcategory rounded" >
<div class="column">
	<div class = "glyphicon glyphicon-cog">MANAGE SUBCATEGORIES</div>
	<a href="#/new-subcategory" class="btn btn-primary round pull-right" role="button">+Add Subcategory</a></div>
<div class="column">
	
</div>
<table class="table ">
  <thead>
  <tr>
  	<th>SubCategory Name</th>
    <th>Description</th>
    <th>Parent Category</th>
  </tr>
  </thead>
  <tbody>
      <tr *ngFor="let subcategory of subcategories.subcategories | paginate: { itemsPerPage: 3, currentPage: currentPage, totalItems: subcategories.totalItems, id:'server'} ">
        <td class = "table-cell">{{ subcategory.name }}</td>
        <td class = "table-cell">{{ subcategory.description }}</td>
         <td class = "table-cell">{{ subcategory.parentName }}</td>
         <td class = "table-cell">
	         <img src="assets/edit.svg" style="width:30px">
			 <img src="assets/delete.svg" (click) = "deleteSubcategory(subcategory)" style="width:30px">
        </td>
     </tr>
  </tbody>
 </table>
  <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
</div>
