<div class="container-fluid digi-project rounded" >
<div class="column">
	<div class = "glyphicon glyphicon-cog">MANAGE PROJECTS</div>
	<a href="#/new-project" class="btn btn-primary round pull-right" role="button">+Add Project</a>
</div>
<nav class="navbar">
  <input class="form-control" type="text" name="search" [(ngModel)]="filter" placeholder="Search" >
</nav>
<table class="table ">
  <thead>
  <tr>
    <th>Project Name</th>
    <th>Job Number</th>
    <th>Site Address</th>
    <th>Description</th>
    <th>Start Date</th>
    
  </tr>
  </thead>
  <tbody>
      <tr *ngFor="let project of projects.projects| filter:filter | paginate: { itemsPerPage: 3, currentPage: currentPage, totalItems: projects.totalItems, id:'server'} ">
        <td class = "table-cell" contenteditable='true' (input)="onRowClick($event)" [textContent]="project.projectName" (input)="project.projectName=$event.target.textContent">{{ project.projectName }}</td>
        <td class = "table-cell" contenteditable='true' (input)="onRowClick($event)" [textContent]="project.jobNumber" (input)="project.jobNumber=$event.target.textContent">{{ project.jobNumber }}</td>
        <td class = "table-cell" contenteditable='true' (input)="onRowClick($event)" [textContent]="project.siteAddress" (input)="project.siteAddress=$event.target.textContent">{{ project.siteAddress }}</td>
        <td class = "table-cell" contenteditable='true' (input)="onRowClick($event)" [textContent]="project.description" (input)="project.description=$event.target.textContent">{{ project.description }}</td>
        <td class = "table-cell">{{ project.startDate |  date:'MM/dd/yyyy' }}</td>
        <td class = "table-cell">
            <tooltip-content #screeningOptions class="recommended-programs-tooltip">
                <div><span><p class="fa fa-info-circle fa-tooltip" ></p></span>
                  <div class="tooltip-text-regisnation">Edit</div>
                </div>
              </tooltip-content>
          <button [disabled]="!isValid" class="btn-primary" (click) = "updateProject(project)">
            <img src="assets/edit.svg" style="width:30px" tooltipPlacement="right" [tooltip]="screeningOptions"></button> 
            <tooltip-content #screeningOption1 class="recommended-programs-tooltip">
                <div><span><p class="fa fa-info-circle fa-tooltip" ></p></span>
                  <div class="tooltip-text-regisnation">Delete</div>
                </div>
              </tooltip-content>
		      <button style="background-color:red;"><img src="assets/delete.svg" (click) = "deleteProject(project)" style="width:30px" tooltipPlacement="right" [tooltip]="screeningOption1"></button>
        </td>
     </tr>
  </tbody>
 </table>
  <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
</div>
