<div class="container-fluid digi-employee rounded" >
<div class="column">
	<div class = "glyphicon glyphicon-cog">MANAGE EMPLOYEES</div>
	<a href="#/new-employee" class="btn btn-primary round pull-right" role="button">+Add Employee</a>
</div>

<table class="table ">
  <thead>
  <tr>
    <th>Employee Name</th>
    <th>Role</th>
    <th>Phone</th>
    <th>Company</th> 
    <th>Projects</th>    
  </tr>
  </thead>
  <tbody>
      <tr *ngFor="let employee of employees.employees | paginate: { itemsPerPage: 3, currentPage: currentPage, totalItems: employees.totalItems, id:'server'} ">
        <td class = "table-cell">{{ employee.firstname }}</td>
        <td class = "table-cell">{{ employee.role }}</td>
        <td class = "table-cell">{{ employee.telephone }}</td>
        <td class = "table-cell">{{ employee.companyName }}</td>
        <td class = "table-cell">{{ employee.noOfProjects }}</td>
        <td class = "table-cell">
         <img src="assets/edit.svg" style="width:30px">
		 <img src="assets/delete.svg" (click) = "deleteEmployee(employee)" style="width:30px">
        </td>
     </tr>
  </tbody>
 </table>
  <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
</div>
