<div class="container-fluid digi-category rounded">
  <div class="column">
    <div class="glyphicon glyphicon-cog">MANAGE CATEGORIES</div>
    <a href="#/new-category" class="btn btn-primary round pull-right" role="button">+Add Category</a>
  </div>

  <table class="table ">
    <thead>
      <tr>
        <th>Category Name</th>
        <th>Description</th>
        <th>SubCategories</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories.categories | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems: categories.totalItems, id:'server'} ">
        <td class="table-cell">{{ category.name }}</td>
        <td class="table-cell">{{ category.description }}</td>
        <td class="table-cell">{{ category.subCategories }}</td>
        <td class="table-cell">
          
            <tooltip-content #screeningOptions class="recommended-programs-tooltip">
                <div><span><p class="fa fa-info-circle fa-tooltip" ></p></span>
                  <div class="tooltip-text-regisnation">Edit</div>
                </div>
              </tooltip-content> 
          <button  class="btn-primary" (click)="editCategory(category)" tooltipPlacement="right" [tooltip]="screeningOptions">
              <img src="assets/edit.svg" style="width:30px" >
            </button>


          <tooltip-content #screeningOption1 class="recommended-programs-tooltip">
            <div>
              <span>
                <p class="fa fa-info-circle fa-tooltip"></p>
              </span>
              <div class="tooltip-text-regisnation">Delete</div>
            </div>
          </tooltip-content>
          <button style="background-color:red;" class="btn-primary" (click)="getCategory(category)" data-toggle="modal" data-target=".bd-example-modal-sm">
            <img src="assets/delete.svg" style="width:30px" tooltipPlacement="right" [tooltip]="screeningOption1">
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
</div>
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #428bca;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="container-fluid rounded" style="background-color:white;">
            <div class="section-wrpr">
              <div class="small-wrpr" style="margin-top: 10px; margin-left:20px;">
                <div class="content-wrpr">
                  Are you sure?
                </div>
                <button class="close" data-dismiss="modal" style="background-color:red;">
                  <img src="assets/delete.svg" (click)="deleteCategory(currentCategoryId)" style="width:30px">
                </button>
              </div>
              <div class="clearfix"></div>
              <hr>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>