
  
  .rounded {
    // border-radius: 10px;
    background: #FFFFFF; 
  }

  .hr{
    margin-top: 3px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #eee;
  }
  .form-control{
    width:35%;

  }
  