<div class="container-fluid digi-department rounded" >
<div class="column">
	<div class = "glyphicon glyphicon-cog">MANAGE DEPARTMENTS</div>
	<a href="#/new-department" class="btn btn-primary round pull-right" role="button">+Add Department</a>
</div>
<nav class="navbar">
  <input class="form-control" type="text" name="search" [(ngModel)]="filter" placeholder="Search" >
</nav>
<table class="table ">
  <thead>
  <tr>
    <th>Department Name</th>
    <th>Project Name</th>
    
  </tr>
  </thead>
  <tbody>
      <tr *ngFor="let department of departments.departments| filter:filter | paginate: { itemsPerPage: 3, currentPage: currentPage, totalItems: departments.totalItems, id:'server'} ">
        <td class = "table-cell" contenteditable='true' (input)="onRowClick($event)" [textContent]="department.companyName" (input)="department.departmentName=$event.target.textContent">{{ department.departmentName}}</td>
        <td class = "table-cell" contenteditable='true' (input)="onRowClick($event)" [textContent]="department.projectName" (input)="department.projectName=$event.target.textContent">{{ department.projectName }}</td>
         <td class = "table-cell">
            <tooltip-content #screeningOptions class="recommended-programs-tooltip">
                <div><span><p class="fa fa-info-circle fa-tooltip" ></p></span>
                  <div class="tooltip-text-regisnation">Edit</div>
                </div>
              </tooltip-content>
            <button [disabled]="!isValid" class="btn-primary" (click) = "updateDepartment(department)">
            <img src="assets/edit.svg" style="width:30px"  tooltipPlacement="right" [tooltip]="screeningOptions"></button> 
            <tooltip-content #screeningOption1 class="recommended-programs-tooltip">
                <div><span><p class="fa fa-info-circle fa-tooltip" ></p></span>
                  <div class="tooltip-text-regisnation">Delete</div>
                </div>
              </tooltip-content>
            <button style="background-color:red;"><img src="assets/delete.svg" (click) = "deleteDepartment(department)" style="width:30px"  tooltipPlacement="right" [tooltip]="screeningOption1"></button>
        </td>
     </tr>
  </tbody>
 </table>
  <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
 
</div>
