<div class="container-fluid digi-department rounded" >
<div class="column">
	<div class = "glyphicon glyphicon-cog">MANAGE DEPARTMENTS</div>
	<a href="#/new-department" class="btn btn-primary round pull-right" role="button">+Add Department</a>
</div>

<table class="table ">
  <thead>
  <tr>
    <th>Department Name</th>
    <th>Project Name</th>
    
  </tr>
  </thead>
  <tbody>
      <tr *ngFor="let department of departments.departments | paginate: { itemsPerPage: 3, currentPage: currentPage, totalItems: departments.totalItems, id:'server'} ">
        <td class = "table-cell">{{ department.name }}</td>
        <td class = "table-cell">{{ department.projectName }}</td>
         <td class = "table-cell">
           <img src="assets/edit.svg" style="width:30px">
		   <img src="assets/delete.svg" (click) = "deleteDepartment(department)" style="width:30px">
        </td>
     </tr>
  </tbody>
 </table>
  <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
 
</div>
