<div class="container-fluid rounded" ><br>
  <div class="column">
    <div class = "glyphicon glyphicon-cog">MANAGE DEPARTMENTS</div>
    <a href="#/new-department" class="btn btn-primary round pull-right" role="button">+Add Department</a>
  </div><br>
</div>
<hr style= "margin-top: 3px;
margin-bottom: 1px;">

<div class="container-fluid digi-department rounded " >
<br>
<nav class="navbar">
  <input class="form-control" type="text" name="search" [(ngModel)]="filter" placeholder="Search" >
</nav>
<table class="table ">
  <thead>
  <tr>
    <th>Department Name</th>
    <th>Project Name</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
      <tr *ngFor="let department of departments.departments| filter:filter | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems: departments.totalItems, id:'server'} ">
        <td class = "table-cell" contenteditable='true' (input)="onRowClick($event)" [textContent]="department.departmentName" (input)="department.departmentName=$event.target.textContent">{{ department.departmentName}}</td>
        <td class = "table-cell" contenteditable='true' (input)="onRowClick($event)" [textContent]="department.projectName" (input)="department.projectName=$event.target.textContent">{{ department.projectName }}</td>
         <td class = "table-cell">
            <tooltip-content #screeningOptions class="recommended-programs-tooltip">
                <div><span><p class="fa fa-info-circle fa-tooltip" ></p></span>
                  <div class="tooltip-text-regisnation">Edit</div>
                </div>
              </tooltip-content>
            <button [disabled]="!isValid" class="btn-primary" (click) = "updateDepartment(department)">
            <img src="assets/edit.svg" style="width:30px"  tooltipPlacement="right" [tooltip]="screeningOptions"></button> 
            <tooltip-content #screeningOption1 class="recommended-programs-tooltip">
                <div><span><p class="fa fa-info-circle fa-tooltip" ></p></span>
                  <div class="tooltip-text-regisnation">Delete</div>
                </div>
              </tooltip-content>
            <!-- <button style="background-color:red;"><img src="assets/delete.svg" (click) = "deleteDepartment(department)" style="width:30px"  tooltipPlacement="right" [tooltip]="screeningOption1"></button> -->
            <button style="background-color:red;" class="btn-primary"  (click) = "getDepartment(department)" data-toggle="modal" data-target=".bd-example-modal-sm">
              <img src="assets/delete.svg" style="width:30px" tooltipPlacement="right" [tooltip]="screeningOption1">
            </button>
          </td>
     </tr>
  </tbody>
 </table>
  <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
 
</div>
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #428bca;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="container-fluid rounded" style="background-color:white;">
            <div class="section-wrpr">
              <div class="small-wrpr" style="margin-top: 10px; margin-left:20px;">
                  <div class="content-wrpr">
                      Are you sure?
                  </div>
                <button class="close" data-dismiss="modal" style="background-color:red;">
                  <img  src="assets/delete.svg" (click) = "deleteDepartment(currentDepartmentId)" style="width:30px">
                </button>
              </div>
              <div class="clearfix"></div>
              <hr>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>