<div class="container-fluid rounded" style="background-color:white;">
<div class="section-wrpr" >
    <div class="big-wrpr" style="margin-top: 10px;">
      
      <div class="content-wrpr">
          <label class="box-label" for="">Name</label>
        <div class=" box-wrpr text-center">{{ companyName }} </div>
      </div>
      <div class="content-wrpr">
         <label class="box-label" for="">Main Address</label>
         <div class=" box-wrpr text-center" >{{ address }}</div>
      </div>

  </div>
    <div class="clearfix"></div>
<hr>
</div>
 <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        + Office
        </a>
      </h6>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="panel-body"><office></office></div>       
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo0">
        + Employee
        </a>
      </h6>
    </div>
    <div id="collapseTwo0" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="panel-body"><employee></employee></div>       
      </div>
    </div>
  </div> 
</div>


    

