<div class="container-fluid rounded" >
 	<div class = "glyphicon glyphicon-cog">ADD PRODUCT</div>
      <div >
        <form>

          <div class="form-group">
            <label for="category-name" class="form-control-label">Category Name:</label>
            <input type="text" class="form-control" id="category-name" [(ngModel)]="name" name="first">
          </div>

          <div class="form-group">
            <label for="description" class="form-control-label">Description:</label>
            <input type="textarea" class="form-control" id="description" [(ngModel)]="description" name="first">
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="goBack()">Cancel</button>
	        <button type="button" class="btn btn-primary" (click)="addNewCategory()" >Add</button>
      	  </div>
        </form>
      </div>
</div>


