<header class="body1"></header>
<div id = "container-fluid" >
<div class ="row" > 
  <div class="pull-left col-md-3">
  <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">
        <img src="assets/home black.svg" style="width:20px"><a  data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
         OVERVIEW
        </a>
      </h6>
    </div>

  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">
         <img src="assets/project management black.svg" style="width:20px"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          PROJECT MANAGEMENT
        </a>
      </h6>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
  	  <div class="panel-body"><a href="#/company">Manage Companies</a> </div>
      <div class="panel-body"><a href="#/project">Manage Projects</a></div>
	  <div class="panel-body"><a href="#/client">Manage Clients</a> </div>
	  <div class="panel-body"><a href="#/phase">Manage Phases</a></div>
	  <div class="panel-body"><a href="#/meeting">Meetings</a></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">
        <img src="assets/user management black.svg" style="width:20px"><a class="accordion-toggle " data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          USER MANAGEMENT
        </a>
      </h6>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="panel-body"><a href="#/role">Roles and Permissions</a> </div>

        <div class="panel-body"><a href="#/user"> Manage Users</a></div>

        <div class="panel-body"><a href="#/employee">Employee Directory</a></div>
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">
        <img src="assets/project management black.svg" style="width:20px"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
          PRODUCT MANAGEMENT
        </a>
      </h6>
    </div>
    <div id="collapseSix" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="panel-body"><a href="#/boq">Manage BoQs</a></div>
        <div class="panel-body"><a href="#/department">Manage Departments</a></div>
        <div class="panel-body"><a href="#/section">Manage Sections</a></div>
        <div class="panel-body"><a href="#/category">Manage Product Categories</a></div>
        <div class="panel-body"><a href="#/subcategory">Manage Product SubCategories</a></div>
        <div class="panel-body"><a href="#/product">Manage Product</a></div>
         
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">
        <img src="assets/documents black.svg" style="width:20px"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
         DOCUMENT
        </a>
      </h6>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="panel-body"><a href="#/document">Manage Documents</a> </div>       
      </div>
    </div>
  </div>
  
   <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">
        <img src="assets/drawing black.svg" style="width:20px"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
         DRAWINGS
        </a>
      </h6>
    </div>
    <div id="collapseEight" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="panel-body"><a href="#/document">Manage Drawings</a> </div>       
      </div>
    </div>
  </div>
</div>
  </div>
  <div class= "col-md-9">
   <div class="column">
	  <div><search ></search></div>
	  <div><ui-view></ui-view></div>
	  </div>
  </div>
  </div>
</div>

