<div class="container-fluid rounded"  style="background-color:white;">
  <div class = "glyphicon glyphicon-cog">ADD Request</div>
        <form>
           <label>Generate New Request </label>
           
           <div class="form-group">
             <label for="request-shortDescription" class="form-control-label">Short Description:</label>
             <input type="text" class="form-control" id="request-shortDescription" [(ngModel)]="shortDescription" name="shortDescription">
           </div>
          <div class="form-group">
            <label for="request-status" class="form-control-label">Status:</label>
            <select id="request-option" class="form-control"   [(ngModel)]="status" name="status">
            	<option selected></option>
			  	<option value="open">OPEN</option>
          <option value="inprogress">IN PROGRESS</option>
          <option value="completed">CLOSED</option>
            </select>
          </div>

          <div class="form-group">
             <label for="request-targetEnddate" class="form-control-label">Target Enddate:</label>
             <input type="date" class="form-control" id="request-targetEnddate" [(ngModel)]="targetEnddate" name="targetEnddate">
          </div>
          <div class="form-group">
            <label for="meeting-tittle" class="form-control-label">Project</label>
            <select    [(ngModel)]="projectId" name="projects">
                <option *ngFor="let project of projects.projects" [value]="project.id">
                    {{ project.projectName }}
                </option>
            </select>
          </div>
          <div class="form-group">
            <label for="request-assignee" class="form-control-label"> Raised By:</label>
            <input type="text" class="form-control" id="request-assignee" [(ngModel)]="assignee" name="assignee">
          </div>
          <div class="form-group">
            <label for="request-remarks" class="form-control-label"> Action:</label>
            <input type="text" class="form-control" id="request-remarks" [(ngModel)]="remarks" name="remarks">
          </div>
      </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="goBack()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="addNewRequest()" >Add</button>
          </div>
  </div>
          