<div class="container-fluid digi-document rounded" >
<div class="column">
<div class = "glyphicon glyphicon-cog">DOCUMENTS - All Documents</div>
	<a href="#/new-document" class="btn btn-primary round pull-right" role="button">+Add Document</a>
</div>
<nav class="navbar">
  <input class="form-control" type="text" name="search" [(ngModel)]="filter" placeholder="Search" >
</nav>
<table class="table">
  <thead>
  <tr>
    <th>Document</th>
    <th>Project</th>
    <th>Uploader</th>
    <th>Version</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody>
      <tr *ngFor="let document of documents.documents| filter:filter | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems: documents.totalItems, id:'server'} ">
        <td class = "table-cell" contenteditable='true' (input)="onRowClick($event)" [textContent]="document.displayName" (input)="document.displayName=$event.target.textContent">{{ document.displayName }}</td>
        <td class = "table-cell" contenteditable='true' (input)="onRowClick($event)" [textContent]="document.projectName" (input)="document.projectName=$event.target.textContent">{{ document.projectName }}</td>
        <td class = "table-cell"  contenteditable='true' (input)="onRowClick($event)" [textContent]="document.createdBy" (input)="document.createdBy=$event.target.textContent">{{ document.createdBy }}</td>
         <td class = "table-cell"  contenteditable='true' (input)="onRowClick($event)" [textContent]="document.version" (input)="document.version=$event.target.textContent">{{ document.version }}</td>
        <td class = "table-cell">{{ document.creationTime |  date:'MM/dd/yyyy'}}</td>
         <td class = "table-cell">
            <tooltip-content #screeningOptions class="recommended-programs-tooltip">
                <div><span><p class="fa fa-info-circle fa-tooltip" ></p></span>
                  <div class="tooltip-text-regisnation">Edit</div>
                </div>
              </tooltip-content>
            <button [disabled]="!isValid" class="btn-primary" (click) = "updateDocument(document)">
            <img src="assets/edit.svg" style="width:30px"  tooltipPlacement="right" [tooltip]="screeningOptions"></button> 
            <tooltip-content #screeningOption1 class="recommended-programs-tooltip">
                <div><span><p class="fa fa-info-circle fa-tooltip" ></p></span>
                  <div class="tooltip-text-regisnation">Delete</div>
                </div>
              </tooltip-content>
            <!-- <button style="background-color:red;"><img src="assets/delete.svg" (click) = "deleteDocument(document)" style="width:30px"  tooltipPlacement="right" [tooltip]="screeningOption1"></button> -->
            <button style="background-color:red;" class="btn-primary"  (click) = "getDocument(document)" data-toggle="modal" data-target=".bd-example-modal-sm">
              <img src="assets/delete.svg" style="width:30px" tooltipPlacement="right" [tooltip]="screeningOption1">
            </button>
          </td>
     </tr>
  </tbody>
 </table>
  <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
</div>
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #428bca;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="container-fluid rounded" style="background-color:white;">
            <div class="section-wrpr">
              <div class="small-wrpr" style="margin-top: 10px; margin-left:20px;">
                  <div class="content-wrpr">
                      Are you sure?
                  </div>
                <button class="close" data-dismiss="modal" style="background-color:red;">
                  <img  src="assets/delete.svg" (click) = "deleteDocument(currentDocumentId)" style="width:30px">
                </button>
              </div>
              <div class="clearfix"></div>
              <hr>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>