<div class="container-fluid digi-document rounded" >
<div class="column">
<div class = "glyphicon glyphicon-cog">DOCUMENTS - All Documents</div>
	<a href="#/new-document" class="btn btn-primary round pull-right" role="button">+Add Document</a>
</div>
<table class="table">
  <thead>
  <tr>
    <th>Document</th>
    <th>Project</th>
    <th>Uploader</th>
    <th>Version</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody>
      <tr *ngFor="let document of documents.documents | paginate: { itemsPerPage: 3, currentPage: currentPage, totalItems: documents.totalItems, id:'server'} ">
        <td class = "table-cell">{{ document.displayName }}</td>
        <td class = "table-cell">{{ document.projectName }}</td>
        <td class = "table-cell">{{ document.createdBy }}</td>
         <td class = "table-cell">{{ document.version }}</td>
        <td class = "table-cell">{{ document.creationTime |  date:'MM/dd/yyyy'}}</td>
        
         <td class = "table-cell">
         	<img src="assets/delete.svg" (click) = "deleteDocument(document)" style="width:30px">
         </td>
     </tr>
  </tbody>
 </table>
  <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
</div>
