<div class="container-fluid rounded"  style="background-color:white;">
<div class="section-wrpr"  >
  <div class="section-label bold box-border-bottom" style="BACKGROUND-COLOR:WHITE">  Project:
     
              projectName 
          
  </div>
  <hr style="margin-top: -58px;">
  <div class="big-wrpr" >
    
    <div class="content-wrpr">
        <label class="box-label" for="">Name</label>
      <div class=" box-wrpr text-center"></div>
    </div>
    <div class="content-wrpr">
         <label class="box-label" for="">Date of Establishment</label>
      <div class=" box-wrpr text-center"></div>
    </div>
    <div class="content-wrpr">
       <label class="box-label" for="">Main Address</label>
       <div class=" box-wrpr text-center"></div>
    </div>
    <div class="content-wrpr">
       <label class="box-label" for="">Projects</label>
       <div class=" box-wrpr text-center"></div>
    </div>
    <div class="content-wrpr">
        <label class="box-label" for="">Employees</label>
        <div class=" box-wrpr text-center"></div>
    </div>
    <div class="content-wrpr">
      <label class="box-label" for="">Phone Number</label>
      <div class=" box-wrpr text-center"></div>
  </div>
</div>
<div class="column" style="margin-top:2%;">
    <!-- <div class = "glyphicon glyphicon-cog"></div> -->
    <a href="#/meeting" class="btn btn-primary round pull-left" role="button">Meeting</a>
    <!-- <a href="#/meeting" class="btn btn-primary round pull-center" role="button" style="margin-left: 33%;">Change Request</a>
    <a href="#/meeting" class="btn btn-primary round pull-right" role="button">Quality Control</a> -->
  </div>

  <div class="clearfix"></div>
<hr>

<div class="panel panel-default">
  <div class="panel-heading">
    <h6 class="panel-title">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
      + Documents
      </a>
    </h6>
  </div>
  <div id="collapseOne" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="panel-body"><document></document></div>       
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h6 class="panel-title">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo0">
      + BoQ
      </a>
    </h6>
  </div>
  <div id="collapseTwo0" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="panel-body"> <boq></boq>  </div>       
    </div>
  </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree0">
        + Project Directory
        </a>
      </h6>
    </div>
    <div id="collapseThree0" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="panel-body"> <employee></employee>  </div>       
      </div>
    </div>
  </div>

  <div class="panel panel-default">
  <div class="panel-heading">
    <h6 class="panel-title">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour0">
      + Drawing
      </a>
    </h6>
  </div>
  <div id="collapseFour0" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="panel-body"> <document></document>  </div>       
    </div>
  </div>
</div>
</div>  


  

</div>  